.header {
  height: 80px;
  background-color: $plum;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;

  @media (min-width: $small) {
    height: 90px;
}

  .container {
    display: flex;
    justify-content: space-between;
  }
  
}



.logo-img {
  width: 50px;
  margin: 15px;
  
  @media (min-width: $small) {
    width: 60px;
}


}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 10px;
}

.header__info {
  width: 250px;
  display: flex;
  align-items: center;

  @media (min-width: $small) {
    width: 350px;
  } 
}

.header__info p  {
  font-family: 'Alba';
  font-size: 25px;
  line-height: 40px;
  color: $yellow;

  @media (min-width: $small) {
    font-size: 35px;  
  } 
}




  
 


