.playlists {
    display: flex;
    position: relative;
    top: 150px;
    width: 100vw;
    background-color: $lightYellow;

    li {
        width: 215px;
        display: inline-block;
        margin: 0 20px 20px 0;
        z-index: 300;
        position: relative;
        transition: 0.3s ease-in-out all;
        &:hover {
          
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                // background: rgba(#000, 0.3);
                background: linear-gradient(to bottom, rgba(0,0,0,0.71) 0%, rgba(194,194,194,0) 100%);
            }
        }
    }

    img.playlists-img {
        width: 215px;
     
    }

    h2 {
        font-family: 'Alba Super';
        font-size: 50px;
        color: $plum;
        line-height: 65px;
    }

    p {
        font-family: 'Montserrat';
        font-size: 18px;
        line-height: 35px;
        font-weight: 700;
        text-transform: uppercase;
        color: $coral;
    }
}