$dark: #0B0C10;
$darkgrey: #1F2833;
$lightgrey: #C5c6c7;
$lightgreen: #66FCF1;
$darkgreen: #45A29E;

$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;

$mobile: '320px';
$tablet: '600px';
$small: '960px';
$medium: '1280px';

