@import 'reset';
@import 'variables';
@import 'mixins';
@import 'styles/header';
@import 'styles/playlists';




body {
    overflow: auto;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $plum;  
}
.app--main {
    background-color: $lightYellow;  
}


.container {
  max-width: 1000px;
  margin: 0 auto;
}

.vinyl {
    width: 300px;
    margin-bottom: 30px;
}

.logo {
    margin: 50px auto;
  }
  
.logo p {
  font-family: 'Alba Super';
  font-size: 50px;
  color: $lightCoral;
  line-height: 65px;

  span {
    letter-spacing: 7px;
  } 
}

.btn {
  position: relative;
  padding: 15px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: 'Alba';
  font-size: 25px;
  color: #FFF;
  text-decoration: none;

  &:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
      border-bottom: 1px solid;
  }
}

.btn--yellow
{
  background-color: $lightCoral;
  border-bottom: 5px solid $lightPlum;
  text-shadow: 0px -2px $lightPlum;


}
  




