@import 'reset';
@import 'variables';
@import 'mixins';
@import 'styles/header';
@import 'styles/movie';
@import 'styles/suggestions';


.movie-app {
    overflow: hidden

}

body {
    overflow: auto;
    background-color: $darkgrey;
    min-height: 700px;
}




